<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/gauche.png" alt="" width="30" height="24">
    </a>
  </div>
</nav>
<div class="container">
<h1 style="margin-top: 6px; font-weight:900;">Privacy Policy</h1>
<p>
  Lorsque vous utilisez nos services, vous nous confiez vos informations. 
  Nous comprenons qu'il s'agit d'une grande responsabilité 
  et travaillons dur pour protéger vos informations et vous donner le contrôle.
</p>
<div class="all">
  <div class="div1">
  <div class="div2">
    Quelles informations collectons nous ?
  </div>
    <button (click)="openCollapse()" class="btnchange"  type="button" 
    data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample"><img src="../assets/{{btnValue}}"/></button>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
    Nous pouvons collecter diverses informations vous concernant, notamment :
    Informations de profil: Votre nom, adresse e-mail, photo de profil et autres informations que vous fournissez lors de la création de votre compte.
    Informations d'interaction: Vos interactions avec d'autres utilisateurs.
    Données d'utilisation: Informations sur la façon dont vous utilisez l'application, telles que les pages que vous visitez et les fonctionnalités que vous utilisez.
    Informations sur l'appareil: Informations sur l'appareil que vous utilisez pour accéder à l'application, telles que le type d'appareil, le système d'exploitation et l'adresse IP.
    </div>
  </div>
  <div class="div1">
  <div class="div2">
    Comment vos informations sont-elles utilisées ?
    
  </div>
  <button (click)="openCollapse1()" class="btnchange" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
  aria-expanded="false" aria-controls="collapseExample1"><img src="../assets/{{btnValue1}}"/></button>
  </div>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
      Nous utilisons vos informations pour :
      Fournir et améliorer l'application: Nous utilisons vos informations pour vous fournir les services et fonctionnalités de l'application.
      Personnaliser votre expérience: Nous utilisons vos informations pour vous proposer des contenus et des recommandations plus pertinents.
      Communiquer avec vous: Nous pouvons utiliser vos informations pour vous contacter par e-mail, SMS ou notifications push.
      Effectuer des recherches et analyses: Nous utilisons vos informations pour mieux comprendre nos utilisateurs et améliorer nos services.
      Assurer la sécurité et la protection de l'application: Nous utilisons vos informations pour détecter et prévenir les fraudes et les abus.
    </div>
  </div>
  <div class="div1">
  <div class="div2">
    Avec qui vos informations sont-elles partagées ?
    
  </div>
  <button (click)="openCollapse2()" class="btnchange"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
  aria-expanded="false" aria-controls="collapseExample2"><img src="../assets/{{btnValue2}}"/></button>
  </div>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
      Nous ne partageons vos informations avec des tiers que dans les cas suivants :

      Avec votre consentement: Nous pouvons partager vos informations avec des tiers lorsque vous nous avez donné votre consentement pour le faire.
      Avec des prestataires de services: Nous pouvons partager vos informations avec des prestataires de services qui nous aident à fournir l'application, tels que des fournisseurs d'hébergement et de traitement des données.
      Pour des raisons légales: Nous pouvons partager vos informations si la loi nous l'exige ou si nous pensons que cela est nécessaire pour protéger nos droits ou la sécurité de nos utilisateurs.
    </div>
  </div>
  <div class="div1">
  <div class="div2">
    Quels sont vos choix en matière de confidentialité ?
    
  </div>
  <button (click)="openCollapse3()" class="btnchange"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
  aria-expanded="false" aria-controls="collapseExample3"><img src="../assets/{{btnValue3}}"/></button>
  </div>
<div class="collapse" id="collapseExample3">
  <div class="card card-body">
    Vous avez le contrôle sur vos informations et vous pouvez choisir de :
    Accéder à vos informations et les modifier.
    Supprimer votre compte.
    Désactiver la collecte de certaines informations.
    Limiter le partage de vos informations.
  </div>
</div>
<div class="div1">
<div class="div2">
  Comment puis-je m'assurer que mes informations personnelles sont protégées?
  
</div>
<button (click)="openCollapse4()" class="btnchange"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4"
aria-expanded="false" aria-controls="collapseExample4"><img src="../assets/{{btnValue4}}"/></button>
</div>
<div class="collapse" id="collapseExample4">
  <div class="card card-body">
    Notre priorité absolue est de garantir la protection et la sécurité 
    de vos informations personnelles. Pour assurer cela, nous avons mis en 
    place plusieurs mesures de sécurité techniques, organisationnelles et administratives. 
    Ces mesures permettent le Chiffrement des données : Toutes les informations
     personnelles sont stockées 
    et transmises de manière sécurisée grâce à des protocoles de chiffrement robustes.
  </div>
</div>
<p style="margin-top: 18px;">Effective from jan 2024
 </p>
</div>
</div>